<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <!-- Link Google Fonts Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link
    rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- Link CSS -->
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="container-fluid navbar navbar-expand-md bg-primary">
      <div class="container">
        <h2><a class="navbar-brand" href="index.html">Coding Home</a></h2>
        <button class="navbar-toggler" type="button">
          <span class="material-icons text-secondary">drag_handle</span>
        </button>
        <div class="navbar-collapse justify-content-md-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link fs-5 lh-26 text-center pt-6 pb-3 px-md-6 py-md-0" href="index.html">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 lh-26 text-center py-3 px-md-6 py-md-0" href="course.html">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 lh-26 text-center pt-3 pb-6 ps-md-6 py-md-0" href="#" data-bs-toggle="modal" data-bs-target="#login"><span class="material-icons align-middle pe-2">account_circle</span>登入</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex">
      <span class="color-secondary"></span>
      <span class="color-blue"></span>
    </div>

    <%- contents %>

    <footer class="container-fluid bg-footer">
      <p class="footer-text">Coding Home © 2022 All Rights Reserved</p>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="modal-content position-relative">
                <div class="w-full w-50 mx-auto">
                  <h3 class="modal-title fs-3 lh-35 fw-bold text-center mb-6 mb-md-8" id="exampleModalLabel">登入</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <div class="modal-body p-0">
                    <form>
                      <div class="mb-6">
                        <label for="Email" class="form-label lh-24 text-white-50">信箱</label>
                        <input type="email" class="form-control lh-24" id="Email" placeholder="請輸入信箱" required>
                      </div>
                      <div class="mb-6">
                        <label for="Password" class="form-label lh-24 text-white-50">密碼</label>
                        <input type="password" class="form-control lh-24" id="Password" placeholder="請輸入密碼" required>
                      </div>
                      <input type="submit" value="登入" class="btn btn-gradient rounded-8 fs-5 lh-26 text-white w-100 mb-9 mb-md-12 py-2">
                      <div class="modal-footer border-0 p-0">
                        <div class="border-bottom border-white-50 position-relative mb-7">
                          <p class="lh-24 login-text">其他登入方式</p>
                        </div>
                        <button class="btn btn-outline-white rounded-4 lh-24 w-100 text-ff position-relative mb-4 mb-md-6 py-2"><img src="assets/images/icon_fb.svg" alt="Facebook" class="loginIcon">Facebook 登入</button>
                        <button class="btn btn-outline-white rounded-4 lh-24 w-100 text-ff position-relative py-2"><img src="assets/images/icon_google.svg" alt="Google" class="loginIcon">Google 登入</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".course-swiper", {
        autoplay: {
            disableOnInteraction: false,
            delay: 0
        },
        speed: 3000,
        loop: true,
        spaceBetween: 16,
        slidesPerView: 2,
        //多欄
        breakpoints: {
            768: {
                slidesPerView: 4
            },
            992: {
                slidesPerView: 6
            }
        },
      });
    </script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="./assets/js/lightbox-plus-jquery.min.js"></script>
  </body>

</html>