.modal {
  &-dialog {
    max-width: 100%;
    margin: 0;
  }
  &-dialog-centered {
    min-height: 100%;
  }
  &-content {
    background-color: $primary;
    border: 1px solid $white;
    border-radius: 0;
    padding: 24px 0 48px;
    @media (max-width:767px) {
      padding: 40px 24px;
    }
  }
  &-footer {
    display: block;
  }
}
.modal-footer > * {
  margin: 0;
}
.form {
  &-control {
    width: 100%;
    padding: 8px 0 8px 16px;
    color: $white;
    background-color: $dark;
    border: 1px solid $white;
    border-radius: 4px;
  }
  &-select {
    width: 100%;
    padding: 8px 0 8px 16px;
    color: $white;
    background-color: $dark;
    border: 1px solid $white;
    border-radius: 4px;
  }
}